# Ignore Virtual Environments
.venv/
venv/
env/
.vscode/

# Ignore Windows Binaries
assets/*.exe
dist/

# Ignore Binaries
ffmpeg
deno
deno_bin/
ffmpeg_bin/

# Ignore PyInstaller Build Folders
dist/
build/
*.spec

# Ignore Python Cache
__pycache__/
*.pyc
.aider*
.DS_Store
CONVENTIONS.md
.env