# Ignore Virtual Environments
.venv/
venv/
env/

# Ignore Windows Binaries
assets/*.exe
dist/*.exe

# Ignore Mac Binaries
ffmpeg

# Ignore PyInstaller Build Folders
dist/
build/
*.spec

# Ignore Python Cache
__pycache__/
*.pyc
.aider*
